@model AplicacaoWebCantina.Models.Estoque.EstoqueModel

@{
    ViewData["Title"] = "Editar Produto no Estoque";
}

<h2>@ViewData["Title"]</h2>

<form method="post">
    <div class="form-group">
        <label asp-for="ProdutoId">Produto</label>
        <select asp-for="ProdutoId" class="form-control">
            <option value="@Model.Produto.Nome">@Model.Produto.Nome</option>
        </select>
    </div>
    <div class="form-group">
        <label asp-for="QuantidadeAtual">Quantidade Atual</label>
        <input asp-for="QuantidadeAtual" class="form-control" />
    </div> 
    <div class="form-group">
        <label asp-for="QuantidadeMinima">Quantidade Mínima</label>
        <input asp-for="QuantidadeMinima" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="DataUltimaReposicao">Data Última Reposição</label>
        <input asp-for="DataUltimaReposicao" class="form-control" type="date" />
    </div>
    <button type="submit" class="btn btn-primary">Salvar</button>
</form>
