@{
    ViewData["Title"] = "Home Page";
}


<div class="container mt-5">
    <div class="text-center">
        <h1 class="display-4 text-primary">Bem-vindo à Cantina Variável de Sabor!</h1>
        <p class="lead mb-4">Explore uma experiência única de sabores que se adaptam ao seu paladar.</p>
        <p class="font-weight-light mb-5">
            Em nossa cantina, cada prato é uma surpresa. O sabor vai se ajustar ao seu gosto pessoal, e os ingredientes mudam conforme suas preferências.
        </p>
    </div>

    <div class="text-center mt-5">
        <img src="Imagens/Logo.png" style="max-height: 400px;">
    </div>


    <div class="row mt-5">
        <div class="col-md-4">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h5 class="card-title text-success">Prato do Dia</h5>
                    <p class="card-text">Hoje temos uma surpresa deliciosa com molho secreto, escolha seus ingredientes e descubra o sabor perfeito, do jeitinho que você gosta.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h5 class="card-title text-warning">Ingredientes Frescos</h5>
                    <p class="card-text">Trabalhamos com ingredientes frescos e de qualidade, escolhidos especialmente para proporcionar uma refeição saborosa e saudável, para o seu prazer e bem-estar.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h5 class="card-title text-info">O que dizem nossos clientes</h5>
                    <p class="card-text">"Nunca experimentei algo tão delicioso! A cantina realmente faz com que você se sinta no controle do seu próprio sabor." - João Silva</p>
                    <p class="font-weight-light">Experimente também e venha ser o chef do seu próprio prato!</p>
                </div>
            </div>
        </div>
    </div>

    <div id="explore" class="mt-5 text-center">
        <h3 class="text-secondary">Descubra o que faz nossa cantina única!</h3>
        <p class="lead mb-4">Escolha seus ingredientes, ajuste o tempero e descubra uma experiência de sabor como nunca antes. Cada prato é feito para se ajustar aos seus desejos e preferências!</p>
        <p class="font-weight-light">Sua refeição, suas regras! Se aventure e personalize cada detalhe para que cada mordida seja uma surpresa agradável!</p>
    </div>
</div>
