@{
    ViewData["Title"] = "Política de Privacidade";
}

<div class="container mt-5">
    <h1 class="text-center mb-4 text-primary">@ViewData["Title"]</h1>

    <p class="lead text-center mb-5">A sua privacidade é importante para nós. Em nossa política, garantimos que você tenha uma experiência segura e transparente enquanto navega no nosso site. Aqui está como tratamos seus dados.</p>

    <!-- Card 1: O que coletamos -->
    <div class="card shadow-sm mb-4">
        <div class="card-body">
            <h5 class="card-title text-success">O que coletamos?</h5>
            <p class="card-text">Coletamos informações essenciais como seu nome, e-mail e preferências alimentares. Esses dados nos ajudam a personalizar sua experiência e a oferecer pratos sob medida para o seu gosto.</p>
        </div>
    </div>

    <!-- Card 2: Como usamos seus dados -->
    <div class="card shadow-sm mb-4">
        <div class="card-body">
            <h5 class="card-title text-warning">Como usamos seus dados?</h5>
            <p class="card-text">Seus dados são usados para ajustar suas preferências de sabor, melhorar a personalização de nossos serviços e para enviar informações sobre novos pratos ou promoções especiais.</p>
        </div>
    </div>

    <!-- Card 3: Compartilhamos suas informações -->
    <div class="card shadow-sm mb-4">
        <div class="card-body">
            <h5 class="card-title text-info">Compartilhamos suas informações?</h5>
            <p class="card-text">Não, não compartilhamos suas informações com terceiros. Todo dado é confidencial e usado exclusivamente para oferecer a melhor experiência possível dentro da nossa cantina.</p>
        </div>
    </div>

    <div class="text-center mt-5">
        <p>Se você tiver dúvidas ou quiser mais informações sobre nossa política de privacidade, não hesite em nos contactar.</p>
        <p class="font-weight-bold">Contato: contatocantinavariavel@gmail.com</p>
    </div>
</div>
