@using AplicacaoWebCantina.Models.Clientes
@model ClientesModel;

<div class="text-center">
        <h1 class="h1 m-4">Clientes</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nome</th>
                <th>Ajustes</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var cliente in Model.Clientes)
            {
                <tr>
                    <td>@cliente.Id</td>
                    <td>@cliente.Nome</td>
                    <td>
                        <a type="button"
                           class="btn btn-warning"
                           asp-controller="Clientes"
                           asp-action="Record"
                           asp-route-id="@cliente.Id">Editar</a>
                        <a type="button"
                           class="btn btn-danger"
                           asp-controller="Clientes"
                           asp-action="Excluir"
                           asp-route-id="@cliente.Id">Excluir</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
