@using AplicacaoWebCantina.Models.Clientes
@model ClientesModel

<div class="container mt-5">
    <h1 class="text-center mb-4">Clientes</h1>
    <div class="table-responsive">
        <table class="table table-striped table-bordered shadow-sm">
            <thead class="table-dark">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Nome</th>
                    <th scope="col" class="text-center">Ações</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var cliente in Model.Clientes)
                {
                    <tr>
                        <td>@cliente.Id</td>
                        <td>@cliente.Nome</td>
                        <td class="text-center">
                            <a class="btn btn-warning btn-sm me-2"
                               asp-controller="Clientes"
                               asp-action="Record"
                               asp-route-id="@cliente.Id">Editar</a>
                            <a class="btn btn-danger btn-sm"
                               asp-controller="Clientes"
                               asp-action="Excluir"
                               asp-route-id="@cliente.Id"
                               onclick="return confirm('Tem certeza que deseja excluir este produto?');"
                               >Excluir</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
