@using AplicacaoWebCantina.Models.Produtos
@model ProdutoModel

<div class="container mt-5">
    <h2 class="text-center mb-4">Editar Produto</h2>
    <form asp-controller="Produtos" asp-action="Save" method="post" class="p-4 border rounded shadow-sm bg-light">
        <input type="hidden" asp-for="ID">

        <div class="mb-3">
            <label for="nome" class="form-label">Nome</label>
            <input type="text" class="form-control" id="nome" asp-for="Nome" required>
            <label for="preco" class="form-label">Preco</label>
            <input type="number" step="0.01" min="0" class="form-control" id="preco" asp-for="Preco" required>
        </div>

        <div class="d-flex justify-content-end">
            <a class="btn btn-secondary me-2" asp-controller="Produtos" asp-action="Index">Voltar</a>
            <button type="submit" class="btn btn-primary">Salvar</button>
        </div>
    </form>
</div>                  