@using AplicacaoWebCantina.Models.Produto
@model ProdutoModel

<div>
    <h3>Cadastro de Produto - Variável do Sabor</h3>
    <form asp-controller="Produtos" asp-action="Salvar" method="post">
        <input type="hidden" name="id" asp-for="ID" />

        <div class="form-group">
            <label>Nome</label>
            <input type="text" id="nome" class="form-control" asp-for="Nome" placeholder="Nome do produto" required />
        </div>

        <div class="form-group">
            <label>Preço (R$)</label>
            <input type="number" id="preco" class="form-control" asp-for="Preco" placeholder="Preço do produto" step="0.01" min="0" required />
        </div>

        <br />
        <button class="btn btn-primary float-end m-1" type="submit" asp-route-type="save">Salvar</button>

        @if (Model.ID > 0)
        {
            <button class="btn btn-danger float-end m-1" type="submit" asp-route-type="delete" onclick="return confirm('Tem certeza que deseja excluir este produto?');">
                Excluir
            </button>
        }
    </form>
</div>
