@model AplicacaoWebCantina.Models.Pedido.Pedido

@{
    ViewData["Title"] = "Confirmar Remoção";
}

<h2>@ViewData["Title"]</h2>

<p>Tem certeza de que deseja remover o pedido <strong>@Model.NomeProduto</strong>?</p>

<form asp-action="Remover" method="post">
    <input type="hidden" name="id" value="@Model.Id" />
    <button type="submit" class="btn btn-danger">Sim, Remover</button>
    <a href="@Url.Action("Index", "Pedido")" class="btn btn-secondary">Cancelar</a>
</form>
